<header>
    <div class="topo row">
        <div class="tituloesquerda col-4 col-sm-5 col-md-6 col-lg-4">
            <img class="brasaosp" src="~/img/BrasaoSP.png" alt="Brasão do Estado de São Paulo" />
            Secretaria da Fazenda e Planejamento
        </div>
        <div class="titulocentro   col-6 col-sm-4 col-md-4 col-lg-4">
            Modelo Sefaz de aplicação Asp Net Core com Razor
        </div>
        <div class="titulodireita  col-2 col-sm-3 col-md-2 col-lg-4">
            <div class="user-name col-10"> <partial name="_LoginPartial" /> </div>
            <div class="menu_popup col-2"> <partial name="_MenuDropPartial" /> </div>
        </div>
    </div>
</header>
