<footer id="govsp-rodape">
    <div id="govsp-footerGlobal">
        <ul class="govsph-links">
            <li class="govsp-link-rodape">
                <a   class="govsp-links-footer" href="https://www.ouvidoria.sp.gov.br/Portal/Default.aspx" target="_blank">Ouvidoria</a>
            </li>
            <li class="govsp-link-rodape">
                <a   class="govsp-links-footer" href="http://www.transparencia.sp.gov.br/" target="_blank">Transparência</a>
            </li>
            <li class="govsp-link-rodape">
                <a   class="govsp-links-footer" href="http://www.sic.sp.gov.br/" target="_blank">SIC</a>
            </li>
            <li class="govsp-link-rodape" tabindex="0">
                <img class="govsph-logo-rodape" src="~/img/brasao_sefaz-sp_peq.png" alt="Logotipo da Secretaria da Fazenda e Planejamento de São Paulo" />
            </li>
        </ul>
    </div>
    <div id="govsp-footer-bottom" class="govsp-azul"></div>
</footer>
