/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.caixaTexto {
    word-break: break-word;
    border: 1px solid #DDD;
    font-weight: 500;
    color: #000;
    margin-top: 15px;
    width: 100%;
}

/*  mgt - Microsoft Graph Template 
    Botoes e paineis com informações do Microsoft Graph, quando utilizado.
*/

mgt-person {
    --person-card-display-name-font-size: 40px;
    --person-card-display-name-color: #ffffff;
    --person-card-title-font-size: 25px;
    --person-card-title-color: #ffffff;
    --person-card-subtitle-font-size: 10px;
    --person-card-subtitle-color: #ffffff;
    --person-card-details-title-font-size: 10px;
    --person-card-details-title-color: #b3bf0a;
    --person-card-details-item-font-size: 20px;
    --person-card-details-item-color: #3abf0a;
    --person-card-background-color: #000000;
    --person-card-contact-link-color: #ff0000;
    --person-card-contact-link-hover-color: #00ff00;
    --person-card-show-more-color: #ff0000;
    --person-card-show-more-hover-color: #00ff00;
    --person-card-base-links-color: #ff0000;
    --person-card-base-links-hover-color: #00ff00;
    --person-card-tab-nav-color: #ff0000;
    --person-card-active-org-member-color: #ff0000;
    --person-card-nav-back-arrow-hover-color: #00ff00;
    --person-card-nav-back-arrow-color: #ff0000;
}
